<% include ../partials/header%>
<div>
    <h3 class="text-center mt-5 mb-2">Edit Comment</h3>
    <div class="col-lg-4 col-md-5 col-sm-7 mx-auto mt-10">
        <form action="/campgrounds/<%=campground_id%>/comment/<%=comment._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" value="<%=comment.content%>" name=comment[content] required>
            </div>
            <button class="btn btn-primary btn-block">Update Comment</button>
        </form>
    </div>
</div>
<% include ../partials/footer%>