<% include ../partials/header%>
<div>
    <h3 class="text-center mt-5 mb-3">add comment to "<%=campground.title%>"</h3>
    <div class="col-lg-4 col-md-5 col-sm-7 mx-auto mt-10">
        <form action="/campgrounds/<%=campground.id%>/comment" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Comment" name=comment[content] required>
            </div>
            <button class="btn btn-primary btn-block">Add Comment</button>
        </form>
    </div>
</div>
<% include ../partials/footer%>