<!DOCTYPE html>
<html>
    <head>
    	<title>Yelpcamp</title>
    	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="/stylesheet/landing.css">
    </head>
    <body>
        <div id="landing">
            <h1>Welcome to Yelpcamp</h1>
            <a class="btn btn-success" href="/campgrounds">view all campgrounds</a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </body>
</html>